@model ApplicationUserViewModel

@{
    ViewData["Title"] = "Profile Info";
}

<style>
    .likedProductsBtn {
        background-color: indianred;
        font-size: 2em;
        border-radius: 0.45em;
        margin-top: 1em;
    }
</style>

<div class="mt-3 text-center">
    <h1>Profile Info</h1>
    <hr />
</div>

<div class="mt-4 d-flex flex-column align-items-center gap-3">
    <img src="@Model.ImageURL" alt="Image Url" style="width: 15em; border-radius: 10em;" />
    <div class="">
        <input asp-for="@Model.FirstName" class="form-control text-center" aria-required="true" style="width: 45em; font-size: 2em;" value="@($"{@Model.FirstName + " " + @Model.LastName}")" disabled />
    </div>
    <button type="button" id="openModalButton" class="btn likedProductsBtn open-modal-button" data-userId="@Model.Id">Liked products</button>
    @* ------------------ *@
    <span id="modalContainer"></span>
    @* ------------------ *@
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        function loadModalContent(userId) {
            $.get('/User/ModalContent', { userId: userId }, function (data) {
                $('#modalContainer').html(data);
                $('#myModal').modal('show');
            });
        }

        $('.open-modal-button').click(function () {
            var userId = $(this).data('userid');
            loadModalContent(userId);
        });
    });
</script>