@using Fasterr.Services.Interfaces
@model ProductDetailsViewModel
@inject IProductService productService
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">


@{
    ViewData["Title"] = "Product Details";
}

@{
    decimal? discount = Model.Discount / 100;
    decimal? discount2 = Model.Price * discount;
    decimal? priceWithDiscount = Model.Price - discount2;

    double rating = 0.0;
    if (Model.Rating > 0)
    {
        rating = (double)Model.Rating / (double)Model.RatingCount;
    }
}

<style>

</style>


<div class="ms-5 me-5 mt-5 text-center">
    <div class="row">
        <div class="col-4 card" style="border: 1px solid black; border-radius: 0.5em;">
            <img class="card-img-top" style="width: 34.9rem;"
                 src="@Model.ImageURL" alt="Product Image">
            @if (Model.Discount > 0)
            {
                <div class="card-img-overlay text-start">
                    <span class="chip danger" style="font-size: 2.2em;">
                        -@String.Format("{0:0}", @Model.Discount)%
                    </span>
                </div>
            }
        </div>
        <div class="card pt-4 col-8 d-flex flex-column gap-3 border-0">
            <div class="d-flex flex-column align-items-center">
                @if (rating > 0 && rating < 1.50)
                {
                    <div class="d-flex p-1 gap-2">
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    </div>
                }
                else if (rating >= 1.50 && rating < 2.50)
                {
                    <div class="d-flex p-1 gap-2">
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    </div>
                }
                else if (rating >= 2.50 && rating < 3.50)
                {
                    <div class="d-flex p-1 gap-2">
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    </div>
                }
                else if (rating >= 3.50 && rating < 4.50)
                {
                    <div class="d-flex p-1 gap-2">
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    </div>
                }
                else if (rating >= 4.50 && rating <= 5)
                {
                    <div class="d-flex p-1 gap-2">
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                        <img src="/images/star.png" style="width: 2.8rem; height: 2.5rem;"></img>
                    </div>
                }
                else
                {
                    <h6 class="p-1 text-center">Продуктът все още не е оценен!</h6>
                }
            </div>
            <p style="font-size:35px;"><u>@Model.Name</u></p>
            @if (Model.Discount > 0)
            {
                <div class="d-flex text-center justify-content-center">
                    <h4 class="card-text"><b><s>@Model.Price лв.</s></b></h4>
                    <h4 style="color: red; padding-left: 0.5em;"><b>@String.Format("{0:0.00}", @priceWithDiscount) лв.</b></h4>
                </div>
            }
            else
            {
                <h4 class="card-text"><b>@Model.Price лв.</b></h4>
            }
            <hr></hr>
            <p style="font-size: 20px;">@Model.Description</p>
            <p><b>@Model.Brand - @Model.Category</b></p>

            @* ----------- *@

            <div class="row ps-4 gap-5">
                <a asp-area="" asp-controller="Product" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn text-white col-10 addToCart" style="background-color: #BF0300; font-size: 1.6em;">Добави в количка</a>

                <a asp-area="" asp-controller="Product" asp-action="Like" asp-route-id="@Model.Id" class="btn col-1 loveBtn" style="font-size: 1.6em;" data-bs-placement="top" data-bs-toggle="popover" data-bs-content="Liked">&#x2764;</a>
            </div>

            <div class="text-start ps-3">
                <h5>Дайте своето мнение тук:</h5>

                <div class="stars">
                    <form asp-controller="Product" asp-action="GiveRating" asp-route-id="@Model.Id" method="post">
                        <input class="star star-5" id="star-5" type="radio" name="star" asp-for="Rating" value="5" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" asp-for="Rating" value="4" />
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" asp-for="Rating" value="3" />
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" asp-for="Rating" value="2" />
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="star" asp-for="Rating" value="1" />
                        <label class="star star-1" for="star-1"></label>
                        <input class="submitRating" type="submit" value="Изпращане"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
</script>